In [13]:
import pandas as pd
import numpy as np

In [20]:
test = pd.read_csv('/home/yash/Desktop/3c055e822d5b11ea/test.csv')
train = pd.read_csv('/home/yash/Desktop/3c055e822d5b11ea/train.csv')
sample = pd.read_csv('/home/yash/Desktop/3c055e822d5b11ea/sample_submission.csv')

In [18]:
test.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,19.497717,16,6,72.151322,0.388959,78.32,4,37949.724386,2,0.069692,1
1,58.173516,15,3,64.585232,0.250841,78.60,7,30194.805567,2,0.002777,10
2,33.287671,15,3,64.721969,0.336669,86.96,6,17572.925484,1,0.004316,14
3,3.287671,21,5,66.362808,0.421775,80.86,3,40209.186341,2,0.199990,17
4,10.867580,18,2,56.107566,0.313228,79.22,2,35495.525408,2,0.483696,21

In [29]:
train.head(20)

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054
5,Minor_Damage_And_Injuries,43.333333,15,0,73.336372,0.432954,78.63,2,29288.448105,1,0.394505,10947
6,Highly_Fatal_And_Damaging,22.009132,15,10,62.853236,0.314671,88.04,4,32342.109345,0,0.058872,4717
7,Minor_Damage_And_Injuries,24.703196,18,4,60.802188,0.548353,83.48,4,22547.195242,2,0.040419,8008
8,Highly_Fatal_And_Damaging,54.840183,5,40,69.234275,0.335587,78.24,2,45751.983413,0,0.619186,8179
9,Significant_Damage_And_Serious_Injuries,52.237443,6,4,57.429353,0.465410,79.56,1,37933.399001,1,1.389295,6324
10,Highly_Fatal_And_Damaging,36.666667,11,11,80.218778,0.452788,81.15,2,31463.568565,2,0.424912,3789
11,Significant_Damage_And_Serious_Injuries,48.127854,11,2,62.807657,0.329096,77.80,3,22570.030398,4,0.111873,8946
12,Significant_Damage_And_Serious_Injuries,42.876712,12,14,68.960802,0.159604,77.23,3,44697.868740,3,0.222510,3629
13,Significant_Damage_And_Fatalities,63.652968,13,4,78.669098,0.232089,80.78,7,30882.726377,3,0.002567,2451
14,Highly_Fatal_And_Damaging,26.027397,14,2,83.546035,0.362994,81.63,3,18915.509025,2,0.095806,4028
15,Highly_Fatal_And_Damaging,49.589041,7,1,85.551504,0.270314,78.86,3,25083.657909,2,0.123761,10493
16,Highly_Fatal_And_Damaging,10.867580,18,1,68.003646,0.309622,82.08,6,47893.717972,3,0.011242,20
17,Significant_Damage_And_Fatalities,38.767123,10,4,37.830447,0.600282,80.82,4,35910.200412,1,0.066515,2064
18,Significant_Damage_And_Fatalities,78.219178,8,3,61.485871,0.338111,82.20,2,34354.111221,2,0.462514,2765
19,Significant_Damage_And_Fatalities,20.228311,15,2,41.567912,0.687191,78.37,2,11503.388561,1,0.159784,2938

In [23]:
sample

   Accident_ID                                 Severity
0            1                Minor_Damage_And_Injuries
1           10                Highly_Fatal_And_Damaging
2           14                Highly_Fatal_And_Damaging
3           17  Significant_Damage_And_Serious_Injuries
4           21                Minor_Damage_And_Injuries
5           40                Highly_Fatal_And_Damaging
6           45                Highly_Fatal_And_Damaging
7           50        Significant_Damage_And_Fatalities
8           52                Highly_Fatal_And_Damaging
9           85                Minor_Damage_And_Injuries

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
Severity                   10000 non-null object
Safety_Score               10000 non-null float64
Days_Since_Inspection      10000 non-null int64
Total_Safety_Complaints    10000 non-null int64
Control_Metric             10000 non-null float64
Turbulence_In_gforces      10000 non-null float64
Cabin_Temperature          10000 non-null float64
Accident_Type_Code         10000 non-null int64
Max_Elevation              10000 non-null float64
Violations                 10000 non-null int64
Adverse_Weather_Metric     10000 non-null float64
Accident_ID                10000 non-null int64
dtypes: float64(6), int64(5), object(1)
memory usage: 937.6+ KB

AttributeError: 'DataFrameGroupBy' object has no attribute 'values_count'

In [33]:
train['Severity'].value_counts()

Highly_Fatal_And_Damaging                  3049
Significant_Damage_And_Serious_Injuries    2729
Minor_Damage_And_Injuries                  2527
Significant_Damage_And_Fatalities          1695
Name: Severity, dtype: int64

In [ ]:
Severity_mapping = {""}

In [34]:
train['Accident_Type_Code'].value_counts()

4    2057
2    1791
3    1752
7    1276
6    1215
1    1171
5     738
Name: Accident_Type_Code, dtype: int64

In [41]:
train_test_data = [train,test]
train1= [train]
Severity_mapping = {"Minor_Damage_And_Injuries":0,"Significant_Damage_And_Serious_Injuries":1,"Significant_Damage_And_Fatalities":2,"Highly_Fatal_And_Damaging":3}
for dataset in train1:
    dataset['Severity'] = dataset['Severity'].map(Severity_mapping)

In [45]:
train.head(30)

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,0,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,2,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,1,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,2,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054
5,0,43.333333,15,0,73.336372,0.432954,78.63,2,29288.448105,1,0.394505,10947
6,3,22.009132,15,10,62.853236,0.314671,88.04,4,32342.109345,0,0.058872,4717
7,0,24.703196,18,4,60.802188,0.548353,83.48,4,22547.195242,2,0.040419,8008
8,3,54.840183,5,40,69.234275,0.335587,78.24,2,45751.983413,0,0.619186,8179
9,1,52.237443,6,4,57.429353,0.465410,79.56,1,37933.399001,1,1.389295,6324
10,3,36.666667,11,11,80.218778,0.452788,81.15,2,31463.568565,2,0.424912,3789
11,1,48.127854,11,2,62.807657,0.329096,77.80,3,22570.030398,4,0.111873,8946
12,1,42.876712,12,14,68.960802,0.159604,77.23,3,44697.868740,3,0.222510,3629
13,2,63.652968,13,4,78.669098,0.232089,80.78,7,30882.726377,3,0.002567,2451
14,3,26.027397,14,2,83.546035,0.362994,81.63,3,18915.509025,2,0.095806,4028
15,3,49.589041,7,1,85.551504,0.270314,78.86,3,25083.657909,2,0.123761,10493
16,3,10.867580,18,1,68.003646,0.309622,82.08,6,47893.717972,3,0.011242,20
17,2,38.767123,10,4,37.830447,0.600282,80.82,4,35910.200412,1,0.066515,2064
18,2,78.219178,8,3,61.485871,0.338111,82.20,2,34354.111221,2,0.462514,2765
19,2,20.228311,15,2,41.567912,0.687191,78.37,2,11503.388561,1,0.159784,2938
20,0,52.465753,13,0,73.245214,0.221991,81.62,2,39835.718310,1,0.538862,10309
21,0,38.447489,17,5,74.931632,0.326571,79.31,2,37435.572795,2,0.508486,3918
22,3,44.840183,8,2,80.583409,0.249759,78.21,4,45783.527661,0,0.083992,4830
23,0,43.881279,15,1,68.003646,0.338472,78.97,1,45541.236753,2,1.664864,6630
24,2,25.296804,14,5,47.265269,0.594873,76.19,5,49288.635507,3,0.032437,11434
25,2,61.826484,13,7,66.134913,0.423217,78.07,6,42607.071097,1,0.010607,10987
26,2,59.269406,14,3,61.622607,0.331981,90.87,7,32342.313384,3,0.003022,8830
27,3,24.337900,14,0,70.783956,0.267790,76.75,4,26538.322263,1,0.048626,2237
28,2,55.022831,15,9,70.328168,0.512291,77.03,7,28451.014701,0,0.002916,4196
29,3,65.753425,5,20,48.131267,0.638147,79.75,3,39150.672196,1,0.194870,4755

In [48]:
train['Adverse_Weather_Metric'].value_counts()

0.165002    10
0.086514     9
0.978455     9
0.488682     8
0.653900     8
            ..
0.005307     1
1.257535     1
0.219973     1
0.003673     1
1.578291     1
Name: Adverse_Weather_Metric, Length: 4258, dtype: int64

In [49]:
for dataset in train_test_data:
    dataset.loc[dataset['Adverse_Weather_Metric']<=0.4,'Adverse_Weather_Metric'] = 0
    dataset.loc[(dataset['Adverse_Weather_Metric']>0.4) & (dataset['Adverse_Weather_Metric']<=0.8),'Adverse_Weather_Metric'] = 1
    dataset.loc[(dataset['Adverse_Weather_Metric']>0.8) & (dataset['Adverse_Weather_Metric']<=1.2),'Adverse_Weather_Metric'] = 2
    dataset.loc[(dataset['Adverse_Weather_Metric']>1.2) & (dataset['Adverse_Weather_Metric']<=1.6),'Adverse_Weather_Metric'] = 3

In [58]:
train.head(30)

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,2.000000,7570
1,0,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.000000,12128
2,2,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.000000,2181
3,1,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.000000,5946
4,2,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.000000,9054
5,0,43.333333,15,0,73.336372,0.432954,78.63,2,29288.448105,1,0.000000,10947
6,3,22.009132,15,10,62.853236,0.314671,88.04,4,32342.109345,0,0.000000,4717
7,0,24.703196,18,4,60.802188,0.548353,83.48,4,22547.195242,2,0.000000,8008
8,3,54.840183,5,40,69.234275,0.335587,78.24,2,45751.983413,0,2.000000,8179
9,1,52.237443,6,4,57.429353,0.465410,79.56,1,37933.399001,1,3.000000,6324
10,3,36.666667,11,11,80.218778,0.452788,81.15,2,31463.568565,2,2.000000,3789
11,1,48.127854,11,2,62.807657,0.329096,77.80,3,22570.030398,4,0.000000,8946
12,1,42.876712,12,14,68.960802,0.159604,77.23,3,44697.868740,3,0.000000,3629
13,2,63.652968,13,4,78.669098,0.232089,80.78,7,30882.726377,3,0.000000,2451
14,3,26.027397,14,2,83.546035,0.362994,81.63,3,18915.509025,2,0.000000,4028
15,3,49.589041,7,1,85.551504,0.270314,78.86,3,25083.657909,2,0.000000,10493
16,3,10.867580,18,1,68.003646,0.309622,82.08,6,47893.717972,3,0.000000,20
17,2,38.767123,10,4,37.830447,0.600282,80.82,4,35910.200412,1,0.000000,2064
18,2,78.219178,8,3,61.485871,0.338111,82.20,2,34354.111221,2,2.000000,2765
19,2,20.228311,15,2,41.567912,0.687191,78.37,2,11503.388561,1,0.000000,2938
20,0,52.465753,13,0,73.245214,0.221991,81.62,2,39835.718310,1,2.000000,10309
21,0,38.447489,17,5,74.931632,0.326571,79.31,2,37435.572795,2,2.000000,3918
22,3,44.840183,8,2,80.583409,0.249759,78.21,4,45783.527661,0,0.000000,4830
23,0,43.881279,15,1,68.003646,0.338472,78.97,1,45541.236753,2,1.664864,6630
24,2,25.296804,14,5,47.265269,0.594873,76.19,5,49288.635507,3,0.000000,11434
25,2,61.826484,13,7,66.134913,0.423217,78.07,6,42607.071097,1,0.000000,10987
26,2,59.269406,14,3,61.622607,0.331981,90.87,7,32342.313384,3,0.000000,8830
27,3,24.337900,14,0,70.783956,0.267790,76.75,4,26538.322263,1,0.000000,2237
28,2,55.022831,15,9,70.328168,0.512291,77.03,7,28451.014701,0,0.000000,4196
29,3,65.753425,5,20,48.131267,0.638147,79.75,3,39150.672196,1,0.000000,4755

In [60]:
train['Max_Elevation'].value_counts().tail(30)

23004.891250    1
22992.467958    1
33327.068892    1
19033.896338    1
27917.302584    1
28645.185921    1
18616.726759    1
37966.032542    1
33718.278687    1
29017.269866    1
45132.304849    1
26681.942387    1
36226.237677    1
41951.324284    1
33960.581577    1
39572.927518    1
33950.882749    1
49913.216463    1
46308.243916    1
32161.148978    1
22408.050423    1
44279.153985    1
36105.964263    1
35376.088278    1
29292.690310    1
25824.627437    1
28612.869593    1
33608.556117    1
43378.438111    1
15436.040990    1
Name: Max_Elevation, dtype: int64

In [61]:
for dataset in train_test_data:
    dataset.loc[dataset['Max_Elevation']<=15000,'Max_Elevation'] = 0
    dataset.loc[(dataset['Max_Elevation']>15000) & (dataset['Max_Elevation']<=30000),'Max_Elevation'] = 0.5
    dataset.loc[(dataset['Max_Elevation']>30000) & (dataset['Max_Elevation']<=45000),'Max_Elevation'] = 1.0
    dataset.loc[(dataset['Max_Elevation']>45000),'Max_Elevation'] = 1.5

In [62]:
train.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,14,22,71.285324,0.272118,78.04,2,1.0,3,2.0,7570
1,0,62.465753,10,27,72.288058,0.423939,84.54,2,0.5,2,0.0,12128
2,2,63.059361,13,16,66.362808,0.322604,78.86,7,1.0,3,0.0,2181
3,1,48.082192,11,9,74.703737,0.337029,81.79,3,1.0,1,0.0,5946
4,2,26.484018,13,25,47.948952,0.541140,77.16,3,1.0,2,0.0,9054

In [63]:
train.groupby('Severity')['Max_Elevation'].value_counts()

Severity  Max_Elevation
0         1.0              1252
          0.5               945
          1.5               239
          0.0                91
1         1.0              1406
          0.5              1013
          1.5               222
          0.0                88
2         1.0               807
          0.5               656
          1.5               145
          0.0                87
3         1.0              1509
          0.5              1136
          1.5               276
          0.0               128
Name: Max_Elevation, dtype: int64

In [64]:
train.groupby('Severity')['Adverse_Weather_Metric'].value_counts()

Severity  Adverse_Weather_Metric
0         0.000000                  1665
          2.000000                   769
          3.000000                    69
          1.624446                     2
          1.660432                     2
                                    ...
3         1.748519                     1
          1.790074                     1
          1.863856                     1
          2.116977                     1
          2.365378                     1
Name: Adverse_Weather_Metric, Length: 95, dtype: int64

In [65]:
train['Adverse_Weather_Metric'].sort_values().head()

4999    0.0
6265    0.0
6263    0.0
6262    0.0
6261    0.0
Name: Adverse_Weather_Metric, dtype: float64

In [68]:
train[['Adverse_Weather_Metric']].idxmax()

Adverse_Weather_Metric    9
dtype: int64

In [70]:
train.iloc[9:10]

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
9,1,52.237443,6,4,57.429353,0.46541,79.56,1,1.0,1,3.0,6324

In [71]:
train.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,14,22,71.285324,0.272118,78.04,2,1.0,3,2.0,7570
1,0,62.465753,10,27,72.288058,0.423939,84.54,2,0.5,2,0.0,12128
2,2,63.059361,13,16,66.362808,0.322604,78.86,7,1.0,3,0.0,2181
3,1,48.082192,11,9,74.703737,0.337029,81.79,3,1.0,1,0.0,5946
4,2,26.484018,13,25,47.948952,0.541140,77.16,3,1.0,2,0.0,9054

In [74]:
train[['Cabin_Temperature']].idxmax()

Cabin_Temperature    4431
dtype: int64

In [75]:
train.iloc[4431]

Severity                      1.000000
Safety_Score                 52.922374
Days_Since_Inspection         9.000000
Total_Safety_Complaints       3.000000
Control_Metric               74.293528
Turbulence_In_gforces         0.587300
Cabin_Temperature            97.510000
Accident_Type_Code            3.000000
Max_Elevation                 1.000000
Violations                    1.000000
Adverse_Weather_Metric        0.000000
Accident_ID                8960.000000
Name: 4431, dtype: float64

In [77]:
train[['Cabin_Temperature']].idxmin()

Cabin_Temperature    2624
dtype: int64

In [79]:
train.iloc[2624]

Severity                      3.000000
Safety_Score                 25.251142
Days_Since_Inspection        14.000000
Total_Safety_Complaints       5.000000
Control_Metric               63.901550
Turbulence_In_gforces         0.551959
Cabin_Temperature            74.740000
Accident_Type_Code            4.000000
Max_Elevation                 1.500000
Violations                    2.000000
Adverse_Weather_Metric        0.000000
Accident_ID                1358.000000
Name: 2624, dtype: float64

In [80]:
for dataset in train_test_data:
    dataset.loc[dataset['Cabin_Temperature']<=75,'Cabin_Temperature'] = 0
    dataset.loc[(dataset['Cabin_Temperature']>75) & (dataset['Cabin_Temperature']<=80),'Cabin_Temperature'] = 0.2
    dataset.loc[(dataset['Cabin_Temperature']>80) & (dataset['Cabin_Temperature']<=85),'Cabin_Temperature'] = 0.4
    dataset.loc[(dataset['Cabin_Temperature']>85) & (dataset['Cabin_Temperature']<=90),'Cabin_Temperature'] = 0.6
    dataset.loc[(dataset['Cabin_Temperature']>90) & (dataset['Cabin_Temperature']<=95),'Cabin_Temperature'] = 0.8
    dataset.loc[(dataset['Cabin_Temperature']>95),'Cabin_Temperature'] = 1.0

In [81]:
train.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,14,22,71.285324,0.272118,0.2,2,1.0,3,2.0,7570
1,0,62.465753,10,27,72.288058,0.423939,0.4,2,0.5,2,0.0,12128
2,2,63.059361,13,16,66.362808,0.322604,0.2,7,1.0,3,0.0,2181
3,1,48.082192,11,9,74.703737,0.337029,0.4,3,1.0,1,0.0,5946
4,2,26.484018,13,25,47.948952,0.541140,0.2,3,1.0,2,0.0,9054

In [83]:
train[['Control_Metric']].idxmax()

Control_Metric    1229
dtype: int64

In [84]:
train[['Control_Metric']].idxmin()

Control_Metric    4242
dtype: int64

In [85]:
train.iloc[1229]

Severity                      1.000000
Safety_Score                 56.757991
Days_Since_Inspection         8.000000
Total_Safety_Complaints       4.000000
Control_Metric              100.000000
Turbulence_In_gforces         0.214418
Cabin_Temperature             0.200000
Accident_Type_Code            6.000000
Max_Elevation                 1.000000
Violations                    1.000000
Adverse_Weather_Metric        0.000000
Accident_ID                4999.000000
Name: 1229, dtype: float64

In [86]:
train.iloc[4242]

Severity                      3.000000
Safety_Score                 51.050228
Days_Since_Inspection        13.000000
Total_Safety_Complaints      10.000000
Control_Metric                0.000000
Turbulence_In_gforces         0.606413
Cabin_Temperature             0.200000
Accident_Type_Code            2.000000
Max_Elevation                 0.500000
Violations                    2.000000
Adverse_Weather_Metric        0.000000
Accident_ID                2085.000000
Name: 4242, dtype: float64

In [87]:
test[['Control_Metric']].idxmax()

Control_Metric    1760
dtype: int64

In [88]:
test[['Control_Metric']].idxmin()

Control_Metric    1536
dtype: int64

In [89]:
test.iloc[1760]

Safety_Score                 59.543379
Days_Since_Inspection        11.000000
Total_Safety_Complaints       9.000000
Control_Metric               97.994531
Turbulence_In_gforces         0.303492
Cabin_Temperature             0.200000
Accident_Type_Code            2.000000
Max_Elevation                 1.000000
Violations                    2.000000
Adverse_Weather_Metric        2.000000
Accident_ID                8737.000000
Name: 1760, dtype: float64

In [90]:
test.iloc[1536
         ]

Safety_Score                 25.662100
Days_Since_Inspection        17.000000
Total_Safety_Complaints       1.000000
Control_Metric               20.966272
Turbulence_In_gforces         0.818097
Cabin_Temperature             0.200000
Accident_Type_Code            2.000000
Max_Elevation                 1.000000
Violations                    0.000000
Adverse_Weather_Metric        2.000000
Accident_ID                7542.000000
Name: 1536, dtype: float64

In [92]:
for dataset in train_test_data:
    dataset.loc[(dataset['Control_Metric']<=10),'Control_Metric'] = 0
    dataset.loc[(dataset['Control_Metric']>10) & (dataset['Control_Metric']<=20),'Control_Metric'] = 0.2
    dataset.loc[(dataset['Control_Metric']>20) & (dataset['Control_Metric']<=30),'Control_Metric'] = 0.4
    dataset.loc[(dataset['Control_Metric']>30) & (dataset['Control_Metric']<=40),'Control_Metric'] = 0.6
    dataset.loc[(dataset['Control_Metric']>40) & (dataset['Control_Metric']<=50),'Control_Metric'] = 0.8
    dataset.loc[(dataset['Control_Metric']>50) & (dataset['Control_Metric']<=60),'Control_Metric'] = 1.0
    dataset.loc[(dataset['Control_Metric']>60) & (dataset['Control_Metric']<=70),'Control_Metric'] = 1.2
    dataset.loc[(dataset['Control_Metric']>70) & (dataset['Control_Metric']<=80),'Control_Metric'] = 1.4
    dataset.loc[(dataset['Control_Metric']>80) & (dataset['Control_Metric']<=90),'Control_Metric'] = 1.6
    dataset.loc[(dataset['Control_Metric']>90),'Control_Metric'] = 1.8

In [93]:
train.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,14,22,1.4,0.272118,0.2,2,1.0,3,2.0,7570
1,0,62.465753,10,27,1.4,0.423939,0.4,2,0.5,2,0.0,12128
2,2,63.059361,13,16,1.2,0.322604,0.2,7,1.0,3,0.0,2181
3,1,48.082192,11,9,1.4,0.337029,0.4,3,1.0,1,0.0,5946
4,2,26.484018,13,25,0.8,0.541140,0.2,3,1.0,2,0.0,9054

In [94]:
test[['Total_Safety_Complaints']].idxmax()

Total_Safety_Complaints    200
dtype: int64

In [95]:
test[['Total_Safety_Complaints']].idxmin()

Total_Safety_Complaints    8
dtype: int64

In [96]:
train[['Total_Safety_Complaints']].idxmax()

Total_Safety_Complaints    893
dtype: int64

In [97]:
train[['Total_Safety_Complaints']].idxmin()

Total_Safety_Complaints    5
dtype: int64

In [98]:
test.iloc[200]

Safety_Score                50.410959
Days_Since_Inspection       13.000000
Total_Safety_Complaints     54.000000
Control_Metric               1.200000
Turbulence_In_gforces        0.362633
Cabin_Temperature            0.600000
Accident_Type_Code           4.000000
Max_Elevation                1.000000
Violations                   1.000000
Adverse_Weather_Metric       0.000000
Accident_ID                978.000000
Name: 200, dtype: float64

In [99]:
test.iloc[8]

Safety_Score                0.00000
Days_Since_Inspection      20.00000
Total_Safety_Complaints     0.00000
Control_Metric              1.20000
Turbulence_In_gforces       0.20396
Cabin_Temperature           0.20000
Accident_Type_Code          6.00000
Max_Elevation               1.00000
Violations                  2.00000
Adverse_Weather_Metric      0.00000
Accident_ID                52.00000
Name: 8, dtype: float64

In [102]:
train.iloc[893]

Severity                      1.000000
Safety_Score                 38.082192
Days_Since_Inspection        14.000000
Total_Safety_Complaints      54.000000
Control_Metric                1.400000
Turbulence_In_gforces         0.334144
Cabin_Temperature             0.400000
Accident_Type_Code            3.000000
Max_Elevation                 1.000000
Violations                    2.000000
Adverse_Weather_Metric        0.000000
Accident_ID                5789.000000
Name: 893, dtype: float64

In [108]:
train.groupby('Severity')['Total_Safety_Complaints'].value_counts().head(50)

Severity  Total_Safety_Complaints
0         1                          320
          0                          315
          2                          240
          3                          235
          5                          155
          4                          145
          6                          140
          7                          135
          8                          112
          9                           83
          10                          75
          11                          71
          13                          64
          15                          56
          14                          55
          12                          52
          17                          34
          22                          31
          18                          28
          21                          26
          19                          24
          20                          24
          23                          24
          16                          11
          44                          10
          35                           9
          25                           7
          28                           6
          29                           6
          31                           6
          33                           4
          34                           4
          39                           4
          24                           3
          27                           3
          30                           3
          32                           2
          38                           2
          36                           1
          40                           1
          54                           1
1         0                          353
          2                          320
          1                          272
          3                          260
          4                          213
          5                          167
          7                          147
          6                          145
          10                          96
Name: Total_Safety_Complaints, dtype: int64

In [110]:
for dataset in train_test_data:
    dataset.loc[(dataset['Total_Safety_Complaints']<=10),'Total_Safety_Complaints'] = 0
    dataset.loc[(dataset['Total_Safety_Complaints']>10) & (dataset['Total_Safety_Complaints']<=20),'Total_Safety_Complaints'] = 0.4
    dataset.loc[(dataset['Total_Safety_Complaints']>20) & (dataset['Total_Safety_Complaints']<=30),'Total_Safety_Complaints'] = 0.8
    dataset.loc[(dataset['Total_Safety_Complaints']>30) & (dataset['Total_Safety_Complaints']<=40),'Total_Safety_Complaints'] = 1.2
    dataset.loc[(dataset['Total_Safety_Complaints']>40) & (dataset['Total_Safety_Complaints']<=50),'Total_Safety_Complaints'] = 1.6
    dataset.loc[(dataset['Total_Safety_Complaints']>50),'Total_Safety_Complaints'] = 2

In [111]:
train[['Days_Since_Inspection']].idxmin()

Days_Since_Inspection    840
dtype: int64

In [112]:
train[['Days_Since_Inspection']].idxmax()

Days_Since_Inspection    1099
dtype: int64

In [113]:
test[['Days_Since_Inspection']].idxmin()

Days_Since_Inspection    2405
dtype: int64

In [114]:
test[['Days_Since_Inspection']].idxmax()

Days_Since_Inspection    143
dtype: int64

In [116]:
train.iloc[840]

Severity                      1.000000
Safety_Score                 58.675799
Days_Since_Inspection         1.000000
Total_Safety_Complaints       0.000000
Control_Metric                0.000000
Turbulence_In_gforces         0.336308
Cabin_Temperature             0.200000
Accident_Type_Code            6.000000
Max_Elevation                 0.500000
Violations                    3.000000
Adverse_Weather_Metric        0.000000
Accident_ID                9494.000000
Name: 840, dtype: float64

In [117]:
train.iloc[1099]

Severity                      3.000000
Safety_Score                  2.648402
Days_Since_Inspection        23.000000
Total_Safety_Complaints       0.000000
Control_Metric                1.200000
Turbulence_In_gforces         0.419611
Cabin_Temperature             0.400000
Accident_Type_Code            6.000000
Max_Elevation                 1.500000
Violations                    2.000000
Adverse_Weather_Metric        0.000000
Accident_ID                9000.000000
Name: 1099, dtype: float64

In [118]:
test.iloc[143]

Safety_Score                21.324201
Days_Since_Inspection       23.000000
Total_Safety_Complaints      0.000000
Control_Metric               1.000000
Turbulence_In_gforces        0.414202
Cabin_Temperature            0.200000
Accident_Type_Code           2.000000
Max_Elevation                0.500000
Violations                   2.000000
Adverse_Weather_Metric       0.000000
Accident_ID                686.000000
Name: 143, dtype: float64

In [119]:
test.iloc[2405]

Safety_Score                  65.296804
Days_Since_Inspection          1.000000
Total_Safety_Complaints        0.000000
Control_Metric                 0.600000
Turbulence_In_gforces          0.563138
Cabin_Temperature              0.200000
Accident_Type_Code             4.000000
Max_Elevation                  1.000000
Violations                     1.000000
Adverse_Weather_Metric         0.000000
Accident_ID                11978.000000
Name: 2405, dtype: float64

In [120]:
for dataset in train_test_data:
    dataset.loc[(dataset['Days_Since_Inspection']<5),'Days_Since_Inspection'] = 0
    dataset.loc[(dataset['Days_Since_Inspection']>5) & (dataset['Days_Since_Inspection']<=10),'Days_Since_Inspection'] = 0.2
    dataset.loc[(dataset['Days_Since_Inspection']>10) & (dataset['Days_Since_Inspection']<=15),'Days_Since_Inspection'] = 0.4
    dataset.loc[(dataset['Days_Since_Inspection']>15) & (dataset['Days_Since_Inspection']<=20),'Days_Since_Inspection'] = 0.6
    dataset.loc[(dataset['Days_Since_Inspection']>20) & (dataset['Days_Since_Inspection']<=25),'Days_Since_Inspection'] = 0.8

In [121]:
train.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,49.223744,0.4,0.8,1.4,0.272118,0.2,2,1.0,3,2.0,7570
1,0,62.465753,0.2,0.8,1.4,0.423939,0.4,2,0.5,2,0.0,12128
2,2,63.059361,0.4,0.4,1.2,0.322604,0.2,7,1.0,3,0.0,2181
3,1,48.082192,0.4,0.0,1.4,0.337029,0.4,3,1.0,1,0.0,5946
4,2,26.484018,0.4,0.8,0.8,0.541140,0.2,3,1.0,2,0.0,9054

In [122]:
train[['Safety_Score']].idxmax()

Safety_Score    1247
dtype: int64

In [123]:
train[['Safety_Score']].idxmin()

Safety_Score    1339
dtype: int64

In [124]:
test[['Safety_Score']].idxmax()

Safety_Score    1426
dtype: int64

In [125]:
test[['Safety_Score']].idxmin()

Safety_Score    8
dtype: int64

In [126]:
train.iloc[1247]

Severity                      2.000000
Safety_Score                100.000000
Days_Since_Inspection         0.200000
Total_Safety_Complaints       0.400000
Control_Metric                1.400000
Turbulence_In_gforces         0.363354
Cabin_Temperature             0.400000
Accident_Type_Code            6.000000
Max_Elevation                 1.000000
Violations                    2.000000
Adverse_Weather_Metric        0.000000
Accident_ID                9162.000000
Name: 1247, dtype: float64

In [127]:
train.iloc[1339]

Severity                      3.000000
Safety_Score                  0.000000
Days_Since_Inspection         0.600000
Total_Safety_Complaints       0.000000
Control_Metric                1.200000
Turbulence_In_gforces         0.368043
Cabin_Temperature             0.400000
Accident_Type_Code            7.000000
Max_Elevation                 1.500000
Violations                    1.000000
Adverse_Weather_Metric        0.000000
Accident_ID                7970.000000
Name: 1339, dtype: float64

In [128]:
test.iloc[1426]

Safety_Score                100.000000
Days_Since_Inspection         5.000000
Total_Safety_Complaints       0.400000
Control_Metric                0.000000
Turbulence_In_gforces         0.414202
Cabin_Temperature             0.200000
Accident_Type_Code            7.000000
Max_Elevation                 0.500000
Violations                    1.000000
Adverse_Weather_Metric        0.000000
Accident_ID                6996.000000
Name: 1426, dtype: float64

In [131]:
for dataset in train_test_data:
    dataset.loc[(dataset['Safety_Score']>=0) & (dataset['Safety_Score']<=20),'Safety_Score'] = 0
    dataset.loc[(dataset['Safety_Score']>20) & (dataset['Safety_Score']<=40),'Safety_Score'] = 0.2
    dataset.loc[(dataset['Safety_Score']>40) & (dataset['Safety_Score']<=60),'Safety_Score'] = 0.4
    dataset.loc[(dataset['Safety_Score']>60) & (dataset['Safety_Score']<=80),'Safety_Score'] = 0.6
    dataset.loc[(dataset['Safety_Score']>80) & (dataset['Safety_Score']<=100),'Safety_Score'] = 0.8

In [133]:
train['Safety_Score'].value_counts()

0.4    4015
0.2    3846
0.6    1215
0.0     814
0.8     110
Name: Safety_Score, dtype: int64

In [141]:
train.groupby('Severity')['Turbulence_In_gforces'].value_counts().head()

Severity  Turbulence_In_gforces
0         0.414923                 15
          0.374894                 13
          0.456034                 13
          0.461083                 12
          0.294476                 11
Name: Turbulence_In_gforces, dtype: int64

In [142]:
train[['Turbulence_In_gforces']].idxmax()

Turbulence_In_gforces    1107
dtype: int64

In [143]:
train[['Turbulence_In_gforces']].idxmin()

Turbulence_In_gforces    1116
dtype: int64

In [144]:
test[['Turbulence_In_gforces']].idxmax()

Turbulence_In_gforces    463
dtype: int64

In [145]:
test[['Turbulence_In_gforces']].idxmin()

Turbulence_In_gforces    661
dtype: int64

In [146]:
train.iloc[1107]

Severity                      0.000000
Safety_Score                  0.200000
Days_Since_Inspection         0.400000
Total_Safety_Complaints       0.000000
Control_Metric                0.400000
Turbulence_In_gforces         0.882648
Cabin_Temperature             0.200000
Accident_Type_Code            5.000000
Max_Elevation                 0.500000
Violations                    3.000000
Adverse_Weather_Metric        0.000000
Accident_ID                3117.000000
Name: 1107, dtype: float64

In [147]:
train.iloc[1116]

Severity                       3.000
Safety_Score                   0.200
Days_Since_Inspection          0.400
Total_Safety_Complaints        0.000
Control_Metric                 1.200
Turbulence_In_gforces          0.134
Cabin_Temperature              0.200
Accident_Type_Code             6.000
Max_Elevation                  1.000
Violations                     3.000
Adverse_Weather_Metric         0.000
Accident_ID                11588.000
Name: 1116, dtype: float64

In [148]:
test.iloc[463]

Safety_Score                  0.000000
Days_Since_Inspection         0.600000
Total_Safety_Complaints       0.000000
Control_Metric                0.600000
Turbulence_In_gforces         0.881926
Cabin_Temperature             0.200000
Accident_Type_Code            3.000000
Max_Elevation                 1.000000
Violations                    3.000000
Adverse_Weather_Metric        0.000000
Accident_ID                2285.000000
Name: 463, dtype: float64

In [149]:
test.iloc[661]

Safety_Score                  0.400000
Days_Since_Inspection         0.400000
Total_Safety_Complaints       0.400000
Control_Metric                1.600000
Turbulence_In_gforces         0.143376
Cabin_Temperature             0.400000
Accident_Type_Code            2.000000
Max_Elevation                 0.500000
Violations                    4.000000
Adverse_Weather_Metric        0.000000
Accident_ID                3247.000000
Name: 661, dtype: float64

In [150]:
for dataset in train_test_data:
    dataset.loc[(dataset['Turbulence_In_gforces']>=0) & (dataset['Turbulence_In_gforces']<=0.2),'Turbulence_In_gforces'] = 0
    dataset.loc[(dataset['Turbulence_In_gforces']>0.2) & (dataset['Turbulence_In_gforces']<=0.4),'Turbulence_In_gforces'] = 0.5
    dataset.loc[(dataset['Turbulence_In_gforces']>0.4) & (dataset['Turbulence_In_gforces']<=0.6),'Turbulence_In_gforces'] = 1.0
    dataset.loc[(dataset['Turbulence_In_gforces']>0.6) & (dataset['Turbulence_In_gforces']<=0.8),'Turbulence_In_gforces'] = 1.5
    dataset.loc[(dataset['Turbulence_In_gforces']>0.8) & (dataset['Turbulence_In_gforces']<=1.0),'Turbulence_In_gforces'] = 2.0

In [151]:
train.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0,0.4,0.4,0.8,1.4,2.0,0.2,2,1.0,3,2.0,7570
1,0,0.6,0.2,0.8,1.4,2.0,0.4,2,0.5,2,0.0,12128
2,2,0.6,0.4,0.4,1.2,2.0,0.2,7,1.0,3,0.0,2181
3,1,0.4,0.4,0.0,1.4,2.0,0.4,3,1.0,1,0.0,5946
4,2,0.2,0.4,0.8,0.8,2.0,0.2,3,1.0,2,0.0,9054

In [152]:
test.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0.0,0.6,0.0,1.4,2.0,0.2,4,1.0,2,0.0,1
1,0.4,0.4,0.0,1.2,2.0,0.2,7,1.0,2,0.0,10
2,0.2,0.4,0.0,1.2,2.0,0.6,6,0.5,1,0.0,14
3,0.0,0.8,0.0,1.2,2.0,0.4,3,1.0,2,0.0,17
4,0.0,0.6,0.0,1.0,2.0,0.2,2,1.0,2,2.0,21

In [153]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
Severity                   10000 non-null int64
Safety_Score               10000 non-null float64
Days_Since_Inspection      10000 non-null float64
Total_Safety_Complaints    10000 non-null float64
Control_Metric             10000 non-null float64
Turbulence_In_gforces      10000 non-null float64
Cabin_Temperature          10000 non-null float64
Accident_Type_Code         10000 non-null int64
Max_Elevation              10000 non-null float64
Violations                 10000 non-null int64
Adverse_Weather_Metric     10000 non-null float64
Accident_ID                10000 non-null int64
dtypes: float64(8), int64(4)
memory usage: 937.6 KB

In [154]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 11 columns):
Safety_Score               2500 non-null float64
Days_Since_Inspection      2500 non-null float64
Total_Safety_Complaints    2500 non-null float64
Control_Metric             2500 non-null float64
Turbulence_In_gforces      2500 non-null float64
Cabin_Temperature          2500 non-null float64
Accident_Type_Code         2500 non-null int64
Max_Elevation              2500 non-null float64
Violations                 2500 non-null int64
Adverse_Weather_Metric     2500 non-null float64
Accident_ID                2500 non-null int64
dtypes: float64(8), int64(3)
memory usage: 215.0 KB

In [155]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [158]:
target=train['Severity']
train_data = train.drop('Severity',axis=1)

In [177]:
train_data

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
0,0.4,0.4,0.8,1.4,2.0,0.2,2,1.0,3,2.0
1,0.6,0.2,0.8,1.4,2.0,0.4,2,0.5,2,0.0
2,0.6,0.4,0.4,1.2,2.0,0.2,7,1.0,3,0.0
3,0.4,0.4,0.0,1.4,2.0,0.4,3,1.0,1,0.0
4,0.2,0.4,0.8,0.8,2.0,0.2,3,1.0,2,0.0
...,...,...,...,...,...,...,...,...,...,...
9995,0.4,0.2,0.0,1.2,2.0,0.2,5,1.0,2,0.0
9996,0.4,0.2,0.0,1.2,2.0,0.2,4,1.0,2,0.0
9997,0.2,0.6,0.0,1.2,2.0,0.4,3,1.0,3,0.0
9998,0.4,0.2,0.0,0.6,2.0,0.2,5,1.0,2,0.0
9999,0.4,0.4,0.0,0.8,2.0,0.2,5,0.5,2,0.0

In [160]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10,shuffle=True ,random_state=0)

In [178]:
clf = KNeighborsClassifier(n_neighbors= 13)
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1, scoring=scoring)
print(score)

[0.588 0.587 0.578 0.582 0.6   0.576 0.579 0.58  0.581 0.589]

In [179]:
round(np.mean(score)*100,2)

58.4

In [180]:

clf = DecisionTreeClassifier()
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1, scoring=scoring)
print(score)

[0.644 0.663 0.676 0.648 0.651 0.628 0.662 0.649 0.652 0.649]

In [181]:
round(np.mean(score)*100,2)

65.22

In [182]:

clf = RandomForestClassifier(n_estimators=13)
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1, scoring=scoring)
print(score)

[0.671 0.704 0.697 0.651 0.683 0.657 0.667 0.68  0.685 0.672]

In [183]:
round(np.mean(score)*100,2)

67.67

In [184]:

clf = GaussianNB()
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1, scoring=scoring)
print(score)

[0.451 0.439 0.413 0.397 0.415 0.39  0.405 0.409 0.395 0.439]

In [185]:

round(np.mean(score)*100,2)

41.53

In [186]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1, scoring=scoring)
print(score)

[0.576 0.563 0.56  0.565 0.556 0.544 0.549 0.559 0.573 0.571]

In [187]:
round(np.mean(score)*100,2)

56.16

In [175]:
train_data =train_data.drop(['Accident_ID'],axis=1)

KeyError: "['Accident_ID'] not found in axis"

In [188]:
train_data

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
0,0.4,0.4,0.8,1.4,2.0,0.2,2,1.0,3,2.0
1,0.6,0.2,0.8,1.4,2.0,0.4,2,0.5,2,0.0
2,0.6,0.4,0.4,1.2,2.0,0.2,7,1.0,3,0.0
3,0.4,0.4,0.0,1.4,2.0,0.4,3,1.0,1,0.0
4,0.2,0.4,0.8,0.8,2.0,0.2,3,1.0,2,0.0
...,...,...,...,...,...,...,...,...,...,...
9995,0.4,0.2,0.0,1.2,2.0,0.2,5,1.0,2,0.0
9996,0.4,0.2,0.0,1.2,2.0,0.2,4,1.0,2,0.0
9997,0.2,0.6,0.0,1.2,2.0,0.4,3,1.0,3,0.0
9998,0.4,0.2,0.0,0.6,2.0,0.2,5,1.0,2,0.0
9999,0.4,0.4,0.0,0.8,2.0,0.2,5,0.5,2,0.0

In [211]:
clf =  RandomForestClassifier(n_estimators=13)
clf.fit(train_data, target)

test_data = test.drop("Accident_ID",axis=1).copy()
prediction = clf.predict(test_data)

In [212]:
prediction

array([3, 1, 1, ..., 1, 1, 3])

In [213]:
Submission_RFC_Planecrash = pd.DataFrame({"Accident_ID":test['Accident_ID'],"Prediction":prediction})
Submission_RFC_Planecrash.to_csv('Submission_RFC_Planecrash.csv',index=False)

In [214]:
Submission_RFC_Planecrash

      Accident_ID  Prediction
0               1           3
1              10           1
2              14           1
3              17           3
4              21           2
...           ...         ...
2495        12484           3
2496        12487           1
2497        12488           1
2498        12491           1
2499        12493           3

[2500 rows x 2 columns]

In [215]:
df = pd.read_csv('Submission_RFC_Planecrash.csv')

In [199]:
test.head()
Highly_Fatal_And_Damaging                  3049
Significant_Damage_And_Serious_Injuries    2729
Minor_Damage_And_Injuries                  2527
Significant_Damage_And_Fatalities

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,0.0,0.6,0.0,1.4,2.0,0.2,4,1.0,2,0.0,1
1,0.4,0.4,0.0,1.2,2.0,0.2,7,1.0,2,0.0,10
2,0.2,0.4,0.0,1.2,2.0,0.6,6,0.5,1,0.0,14
3,0.0,0.8,0.0,1.2,2.0,0.4,3,1.0,2,0.0,17
4,0.0,0.6,0.0,1.0,2.0,0.2,2,1.0,2,2.0,21

In [218]:
mapping = {0:"Minor_Damage_And_Injuries",1:"Significant_Damage_And_Serious_Injuries",2:"Significant_Damage_And_Fatalities",3:"Highly_Fatal_And_Damaging"}
for dataset in df1:
    dataset['Prediction'] = dataset['Prediction'].map(mapping)

In [217]:
df1=[df]

In [219]:
df

      Accident_ID                               Prediction
0               1                Highly_Fatal_And_Damaging
1              10  Significant_Damage_And_Serious_Injuries
2              14  Significant_Damage_And_Serious_Injuries
3              17                Highly_Fatal_And_Damaging
4              21        Significant_Damage_And_Fatalities
...           ...                                      ...
2495        12484                Highly_Fatal_And_Damaging
2496        12487  Significant_Damage_And_Serious_Injuries
2497        12488  Significant_Damage_And_Serious_Injuries
2498        12491  Significant_Damage_And_Serious_Injuries
2499        12493                Highly_Fatal_And_Damaging

[2500 rows x 2 columns]

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 2 columns):
Accident_ID    2500 non-null int64
Prediction     2500 non-null object
dtypes: int64(1), object(1)
memory usage: 39.2+ KB

In [221]:
Submission_RFC_Planecrash = pd.DataFrame({"Accident_ID":test['Accident_ID'],"Severity":df['Prediction']})
Submission_RFC_Planecrash.to_csv('Submission_RFC_Planecrash.csv',index=False)

In [222]:
Submission_RFC_Planecrash

      Accident_ID                                 Severity
0               1                Highly_Fatal_And_Damaging
1              10  Significant_Damage_And_Serious_Injuries
2              14  Significant_Damage_And_Serious_Injuries
3              17                Highly_Fatal_And_Damaging
4              21        Significant_Damage_And_Fatalities
...           ...                                      ...
2495        12484                Highly_Fatal_And_Damaging
2496        12487  Significant_Damage_And_Serious_Injuries
2497        12488  Significant_Damage_And_Serious_Injuries
2498        12491  Significant_Damage_And_Serious_Injuries
2499        12493                Highly_Fatal_And_Damaging

[2500 rows x 2 columns]